:root{
    --main-color:#d3ad7f; 
    --black:#13131a;
    --bg:#010103;
    --border: .1rem solid rgba(255,255,255,3);

}
*{
font-family: 'Titillium Web', sans-serif;
margin: 0; padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
transition: ease .5s;
}
html{
    font-size: 1rem;
    overflow-x: hidden;
    scroll-padding: smooth;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 8.rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background:  #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
   
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
}
.heading{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{

    color:var(--main-color);


}
.btn{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: inline-block;
    padding: .2rem .3rem;
    color: #fff;
    cursor: pointer;
    background: var(--main-color);
}
.btn:hover{
    letter-spacing: .2rem ;
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    margin: auto;
    padding: auto;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1;

}
.header .logo img
{
height: 6rem;
}
.header .navbar a {
margin: 0 1rem;
font-size: 1.6rem;
color: #fff;

}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
}
.header .icons a{
    color: #fff;
    cursor:pointer;
    font-size: 2.5rem;
    margin-left: 2rem;

}
.header.icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header.icons div:hover{
  color: var(--main-color);
}
.icons {
    color: white;
    display: flex;
    column-gap: 3rem;
    font-size: 1.6rem;
}
.icons div:hover{
color: var(--main-color);
}

#menu-btn
{
    display: none;
}
.header .search-form
{
position: absolute;
top: 115%;
right: 7%;
background: #fff;
width: 50rem;
height: 5rem;
display: flex;
align-items: center;
transform: scaleY(0);
transform-origin: tops;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: nones;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2 rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover{
    color: var(--main-color);
}
.header .cart-items-container{
    position: absolute;
    top: 100%; 
    right:-100%;
    height: calc(100vh-9.5rem);
    width: 35rem;
    background-color: #fff;
    padding:0 1.5rem;
}
.header .cart-items-container.active{
 right: 0;
}
.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0 ;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}
.header .cart-items-container .cart-item .fa-times
{
    position: absolute;
    top:1rem;  right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);

}

.header .cart-items-container .cart-item  img{
    height: 7rem;
    width: 5rem;
}
.header .cart-items-container .cart-item h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}
.header .cart-items-container .cart-item .content .price
{
font-size: 1.5rem;
color: var(--main-color);
}
.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}
.header .navbar .active{
    right: 0%;
}
.home{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 7%;
  
}

.home .content{
    max-width: 60rem;
}
.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem;
    color: #eee;
}
.home .content .btn{
    margin-left: 1rem;
}
/* .about{
    display: flex;
    width: 100%;
    color: white;
} */
.about .row{
    display: flex;
    color: white;
    align-items: center;
    background-color: var(--black);
    flex-wrap: wrap;
}
.about .row .image{
    display: flex;
    flex: 1 1 45rem;
}
.about .row .image img {
    width: 50%;
    height: 25rem;
    position: relative;
   
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
    position: absolute;
    width: 30%;
    margin: auto;
    padding: auto;
    left: 55%;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
    color: white;
}
.menu .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container  img{
    height: 10rem;
}
.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;

}
.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}
.menu .box-container .box .price span{
    color: #fff;
    font-size: 2.5  rem;
    text-decoration: line-through;
}
.menu .box-container .box a {
    font-size: 2rem;
}
.menu .box-container .box:hover{
    background-color: #fff;
    color: black;
}
.menu .box-container .box:hover > * {
    color: black;
}
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.products .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 4rem ;
}
.products .box-container .box .icons 
{
    text-align: center;
}
.products .box-container .box .icons a
{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    cursor: pointer;
    margin: auto;
    padding: auto;
}
.products .box-container .box .icons a:hover
{
    background: var(--main-color);

}
.products .box-container .box .image{
    padding: 2.5rem 0 ;

}
.products .box-container .box .image img{
    height: 15rem;

}
.products .box-container .box .content h3
{
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .stars
{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i
{
  font-size: 1.7rem;
  color: var(--main-color);
}
.products .box-container .box .content .price
{
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .price span
{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.review .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
  
}
.review .box-container h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.review .box-container .box p{
    font-size: 1.3rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem;

}
.review .box-container .box .user{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--main-color);

}
.contact .row{
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
    display: flex;
}
.contact .row .map {
    flex: 1 1 45rem;
    background-color: red;
    height: 400px;
    width: 100%;
    margin: auto;
    padding: auto ;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
    margin: auto;
    padding: auto;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;

    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding: 3rem;
    padding-left: 2rem;
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1rem ;
    color: white;
    text-transform: none;
    background: var(--black);
    border: 3px solid gray;
}
.contact .row form .btn{
    font-size: 2.5rem;
    text-transform: uppercase;
}
.blogs .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1rem;
}
.blogs .box-container .box{
    border: var(--border);

}
.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width:100%;
}
.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.blogs .box-container .box:hover .image img
{
    transform: scale(1.2);
}
.blogs .box-container .box .content{
    padding: 2rem;

}
.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}
.blogs .box-container .box .content .title:hover{
 color: var(--main-color);
}
.blogs .box-container .box .content span{
    color: var(--main-color);
    display: block;
}
.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #fff;
    padding: 1rem 0;
}
.blogs .box-container .box .content .btn{
    margin: auto;
    font-size: 2rem;
    padding: auto;
}
.footer{
    background: var(--black);
}
.footer .share{
    padding: 1rem 0;
    text-align: center;
}
.footer .share a 
{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 2rem 0.4rem;
    border-radius: 50%;
    text-align: center;
}
.footer .share a:hover
{
    background-color: var(--main-color);
}
.footer .links{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 2rem;
    gap:1rem;
}
.footer .links a {
    padding: 1rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 1rem;
}
.footer .links a:hover{
   background: var(--main-color);
}
.footer .credit
{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
    text-align: center;
}
.footer .credit span{
    color: var(--main-color);
}


/* media queries */
@media(max-width:991px)
{
        html{
            font-size: 55%;
        }
        .header{
            padding: 1.5rem 2rem;
        }
        #menu-btn{
            display: inline-block;
        }
        .header .navbar
        {
           position: absolute;
           top: 100%;
           right: -100%;
           background: #fff;
           width:  30rem;
           height: calc(100vh - 9.5rem);
        }

        .header .navbar.active{
              right: 0;
        }   
        .header .navbar a 
        {
            color: var(--black);
            display: block;
            margin: 4rem;
            padding: .5rem;
            font-size: 2rem;
        }
        .header .search-form{
            width: 90%;
            right: 2rem;
        }
        .home{
            background-position: left;
            text-align:center;
        }
        .home .content h3{
            font-size: 4.5rem;
        }
        .home .content p {
            font-size: 1.5rem;
        }
        .home .content .btn{
            font-size: 2rem;
        }
}
@media(max-width:768px)
{
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media(max-width:450px)
{
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .about .row .content{
        font-size:7px;
   
    }
}
